@use '@/scss/abstracts/variables';
@use './scss/abstracts/mixins';
@use './scss/abstracts/functions';

// Base styles
@use './scss/base/reset';
@use './scss/base/typography';
@use './scss/base/base';
@use './scss/base/elements';
@use './scss/base/utilities';
@use './scss/base/animations';

// Components
@use './scss/components/button';
@use './scss/components/card';
@use './scss/components/navbar';

// Layouts
@use './scss/layouts/header';
@use './scss/layouts/footer';
@use './scss/layouts/grid';

// Themes
@use './scss/themes/themes';

// Pages
@use './scss/pages/home';
@use './scss/pages/about';
@use './scss/pages/contact';

body {
  padding: 32px;

}

.hero { 
  height: 100%;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  h1 {
    font-size: calc(54vw * 100 / 1440);
    margin-bottom: calc(12vw * 100 / 1440);
  }

  p {
    font-size: calc(24vw * 100 / 1440);
  }
}

a {
  text-decoration: underline;
}
